.achievements-information {
  min-height: 604px;

  background-color: $background-color-second;

  border: none;
}

.achievements-information__intro {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $color-bright;
  text-transform: uppercase;
}
