.application-features {
  min-height: 1002px;

  background-color: $background-color-second;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: bottom center;
}

.application-features__header {
  background-color: $background-color-main;
}

.application-features__slogan {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
}

@media (min-width: $tablet-width) {
  .application-features {
    min-height: 725px;
    background-position: bottom left;
  }
}

@media (min-width: $desktop-width) {
  .application-features {
    min-height: 1362px;
    background-image: none;
  }
}
