.contacts-list {
  @include list-default-style;

  display: flex;
  flex-direction: column;
}

.contacts-list__item {
  min-width: 300px;
}

.contacts-list__title {
  font-size: 18px;
  font-weight: 700;
}

.contacts-list__information {
  line-height: 32px;
  font-weight: 300;
  color: $color-bright;
}

@media (min-width: $tablet-width) {
  .contacts-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
