.contacts-information {
  min-height: 287px;

  background-color: $background-color-main;

  label {
    color: $color-bright;
    text-transform: uppercase;
  }

  input {
    font: inherit;
    font-size: 18px;
    line-height: 30px;
  }
}

.contacts-information__item {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .contacts-information {
    order: -1;
  }
  .contacts-information__item {
    input {
      order: -1;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts-information {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
