.name-information {
  min-height: 370px;
  background-color: $background-color-main;

  label {
    color: $color-bright;
    text-transform: uppercase;
  }

  input {
    font: inherit;
    font-size: 18px;
    line-height: 30px;
  }
}

.name-information__item {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .name-information {
    order: -3;
  }
  .name-information__item {
    flex-direction: row;
    input {
      flex-grow: 1;
    }
  }
}

@media (min-width: $desktop-width) {
  .name-information {
    width: 470px;
  }
}
