.page-header {
  position: absolute;

  width: 100%;

  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: $color-light;
  text-transform: uppercase;

  background-color: rgba($background-color-dark, 0.3%);
}

.page-header--opened-menu {
  position: relative;
  background-color: $background-color-dark-second;
}

.page-header__logo {
  display: inline-block;
  width: 75px;
  height: 22px;
  margin-top: 22px;
  margin-bottom: 22px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: $tablet-width) {
  .page-header {
    min-height: 110px;
  }

  .page-header__logo {
    width: 147px;
    height: 40px;
    margin-top: 27px;
    margin-bottom: 42px;
  }
}
