.page-header {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(#1d2631, 0.3%);
}
