.page-header {
  position: absolute;

  display: flex;
  justify-content: space-between;
  width: 320px;
  min-height: 66px;
  margin: 0 auto;

  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: $color-light;
  text-transform: uppercase;

  background-color: rgba($background-color-dark, 0.3%);
}

.page-header__logo {
  height: 66px;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    height: 110px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    height: 110px;
  }
}
