.photos-list {
  @include list-default-style;
}

.photos-list__item {
  min-height: 323px;

  background-color: $background-color-second;
}

.photos-list__author-name {
  font-weight: 700;
}

.photos-list__author-time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.photos-list__like {
  font-size: 12px;
  color: $color-bright;
}
