.photo-edit {
  background-color: $background-color-second;
}

.photo-edit__form {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .photo-edit__form {
    flex-direction: row;
    justify-content: space-between;
  }
}
