.platform-information {
  min-height: 340px;

  background-color: $background-color-second;

  border: none;
}

.platform-information__intro {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $color-bright;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .platform-information {
    order: -2;
  }
}

@media (min-width: $desktop-width) {
  .platform-information {
    box-sizing: border-box;
    width: 470px;
  }
}
