.reviews {
  min-height: 377px;

  line-height: 30px;

  background-color: $background-color-main;
}

.reviews__item {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
}

.reviews__author-name {
  font-size: 18px;
  font-style: normal;
  line-height: 30px;
  font-weight: 700;
  color: $color-dark;
}

@media (min-width: $tablet-width) {
  .reviews__text {
    order: -1;
  }
}
