@mixin page-main-style {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $color-main;

  background-color: $page-main-background-color;
}

@mixin page-header-fonts {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: $color-page-header;
  text-transform: uppercase;
}

@mixin page-intro-fonts {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: $color-page-intro;
}

@mixin application-download-fonts {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: $color-application-download;
}

@mixin button-fonts {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $color-button;
  text-decoration: none;
}

@mixin application-features-fonts {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $color-main;
}

@mixin slogan-fonts {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  color: $color-main;
}

@mixin features-list-title-fonts {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: $color-appliaction-features-title;
}

@mixin reviews-fonts {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: $color-main;
}

@mixin reviews-author-name-fonts {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 30px;
  font-weight: 700;
  color: $color-reviews-author-name;
}

@mixin rates-fonts {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: $color-main;
  text-transform: uppercase;
}

@mixin rates-title-fonts {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: $color-rates-title;
  text-transform: uppercase;
}

@mixin rates-price-fonts {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: $color-rates-price;
  text-transform: uppercase;
}

@mixin page-footer-fonts {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: $color-main;
}

@mixin contacts-list-title-fonts {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: $color-main;
}

@mixin contacts-list-information-fonts {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  color: $color-bright;
}
