/* основые цвета текста в проекте */

$color-main: #283645; // основной цвет текста (темный)
$color-bright: #d22856; // яркий цвет текста (розовый)
$color-page-header: #ffffff; // цвет текста шапки (белый)
$color-page-intro: #ffffff; // цвет текста для блока приветствия (белый)
$color-application-download: #ffffff; // цвет текста для блока скачать приложение (белый)
$color-appliaction-features-title: #000000; // цвет для заголовков в блоке храктеристик приложения (черный)
$color-reviews-author-name: #ffffff; // цвет для авторов отзывов

/* основые цвета фона в проекте */
$page-header-background-color: rgba(#1d2631, 0.3%); // цвет фона для шапки
$page-intro-background-color: rgba(#2b3a4a); // цвет фона для блока приветствия
$application-download-background-color: rgba(#2b3a4a); // цвета фона для блока скачать приложение
$application-features-background-color: rgba(#f2f2f2); // цвет фона для блока характеристики приложения
$application-features-header-background-color: rgba(#ffffff); // цвет фона для шапки в блоке характеристики приложения
$reviews-background-color: rgba(#ffffff); // цвет фона для блока отзывы
$rates-background-color: rgba(#f2f2f2); // цвет фона для блока тарифы
$rates-table-header-background-color: rgba(#283645); // цвет фона для ячеек-заголовков в таблице в блоке тарифы
$rates-table-data-background-color: rgba(#ffffff); // цвет фона для ячеек в таблице в блоке тарифы
$maps-background-color: rgba(#f2f2f2); // цвет фона для карты
$page-footer-background-color: rgba(#ffffff); // цвет фона для подвала
