$color-main: #283645; // основной цвет текста (темный)
$color-bright: #d22856; // яркий цвет текста (розовый)
$color-page-header: #ffffff; // цвет текста шапки (белый)
$color-page-intro: #ffffff; // цвет текста для блока приветствия (белый)
$color-application-download: #ffffff; // цвет текста для блока скачать приложение (белый)
$color-appliaction-features-title: #000000; // цвет для заголовков в блоке храктеристик приложения (черный)
$color-reviews-author-name: #ffffff; // цвет для авторов отзывов
