/* основные цвета текста в проекте */

$color-main: #283645; // основной цвет текста (темный)
$color-bright: #d22856; // яркий цвет текста (розовый)
$color-light: #ffffff; // белый цвет
$color-dark: #000000; // черный цвет

/* основые цвета фона в проекте */

$background-color-main: #ffffff; // основной цвет фона (белый)
$background-color-second: #f2f2f2; // вторичный цвет фона (серый)
$background-color-dark: #1d2631; // темный цвет фона
$background-color-dark-second: #283645; // вторичный темный цвет фона

/* основные ширины экрана */

$tablet-width: 660px;
$desktop-width: 1200px;
